@using Microsoft.AspNetCore.Http
@model List<ImageStore>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "GameResults";
}

<h2>GameResults</h2>
<h2>Player: @HttpContextAccessor.HttpContext.Session.GetString("playerName")</h2>
<h3>Score: @HttpContextAccessor.HttpContext.Session.GetString("playerScore")</h3>

@if (@Model != null)
{

    <table class="table">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Image ID</th>
                <th>Image</th>
                <th>Laughing?</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var image in @Model)
            {
                <tr>
                    <td>@image.Player.PlayerName</td>
                    <td>@image.ImageStoreId</td>
                    <td><img src="@image.ImageBase64String" width="160px"></td>
                    <td>@image.JoyLikelihood</td>
                    <td>@image.CreateDate</td>
                </tr>
                
            }
        </tbody>
    </table>


}