@using Microsoft.AspNetCore.Http
@using System.Collections.Generic;
@model List<ImageStore>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "GameResults";

    var playerName = @HttpContextAccessor.HttpContext.Session.GetString("playerName");
    var playerScore = @HttpContextAccessor.HttpContext.Session.GetInt32("playerScore");
    
}


    <body>
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">

                <!-- Masthead Heading -->
                <div class="masthead-subheading font-weight-light mb-0">GameResults</div>
                <div class="masthead-subheading font-weight-light mb-0">Player: @playerName</div>
                <div class="masthead-subheading font-weight-light mb-0">Score: @playerScore</div>

                @if (playerScore == 10)
                {
                    <h1>Wow, didn't laugh once!</h1>
                }

                @if (@Model != null && playerScore < 10)
                {

                    <h1>Caught ya laughing!</h1>

                    <div class="container">
                        <div class="row">
                            @foreach (var image in Model)
                            {
                                <div class="col-sm">
                                    <img src="@image.ImageBase64String" width="160px" />
                                </div>
                            }
                        </div>
                    </div>
                }


                <!-- Icon Divider -->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>

                <!-- Masthead Subheading -->
                <p class="masthead-subheading font-weight-light mb-0"></p>

            </div>
        </header>
    </body>




