@model List<FaceDetails>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4><a href="/Camera/Capture">Camera</a></h4>

    @if (@Model != null)
    {
        @foreach (var face in @Model)
        {
            <img src="@face.ImagePath">
            @*<div>Anger: @face.Anger</div>*@
            <div>Laughing? @face.Joy</div>
            @*<div>Sorrow: @face.Sorrow</div>
                <div>Surprise: @face.Surprise</div>*@
        }
    }
</div>
